@model IEnumerable<WebApp20160730.Models.MoneyTemplate>

@{
    Layout = "";
}

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th class="col-md-3">項目</th>
            <th class="col-md-3">分類</th>
            <th class="col-md-3">金額</th>
            <th class="col-md-3">日期</th>
        </tr>
        @{
            int i = 0;
            foreach (var moneyTemplate in Model)
            {
                i++;
                <tr>
                    <td class="col-md-3">@i</td>
                    <td class="col-md-3">@moneyTemplate.Category</td>
                    <td class="col-md-3">@moneyTemplate.Money</td>
                    <td class="col-md-3">@moneyTemplate.Date</td>
                </tr>
            }
        }
    </tbody>
</table>
